/* Author: Gonzalo Vazquez
    -------------------------------------------------- */
/* Banner Typography */
.carousel-caption h1{
	  /*text-shadow: 1px 1px 10px black, 2px 3px 10px #222, -1px -1px 10px #333;*/
	  color: #fff;

}


/* Banners */
.welcome{
	background-color: rgb(58, 36, 75);
}
.hello{
	font-size: 108px;
}
.projects{
	background-color: rgb(151, 66, 26);
}
.aboutMe{
	background-color: rgb(101, 156, 42);
}
.contactMe{
	
}
/* Languages Buttons
    -------------------------------------------------- */
.img-circle{
	cursor:pointer;
	opacity: 1;
}
.img-circle:hover{
	opacity: .8;
}
/* Project Images
    -------------------------------------------------- */
.featurette-image:hover{
	opacity: .8;
}
/* Project Images
    -------------------------------------------------- */
footer {
	margin-top: -50px;
}



