html, body {
    height: 100%;
    background-color: #fff;
}

#mainPic{
	text-align: center;
}
h2{
	text-align: center;
}
.content{
	margin-bottom: 100px;
}
.footer-wrapper {
	position: absolute;
	bottom: -50px;
	width: 100%;
}
.footer-wrapper p {
	text-align: center;
}